# Extract the Kaggle Data

In [6]:
import pandas as pd

In [11]:
movies_metadata = pd.read_csv('KaggleData/movies_metadata.csv')
ratings = pd.read_csv('KaggleData/ratings.csv')

# The movies_metadata dataframe will give us a warning saying there is a column with mized data types 
# We can igure this worning
# Or we can tell pythong "low_memory = False" after the .csv' and before the close of the parentheses

C:\Users\adeve\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
# Check to make sure that this looks okay 
movies_metadata.head()
# note to self, 1) THe movies_metadata looks good and 2) these appear really big files, so you probably don't want to look at the entire dataset 
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

We could have also pulled in the files by using the flat file formats: 

kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)

ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [14]:
# Skill Drill: Using the sample method to check the middle of the dataset 
movies_metadata.sample(n=5)
ratings.sample(n=5)
# This will give you a random sample of 5 rows in the dataframe

          userId  movieId  rating   timestamp
19855426  206367      314     5.0   953234881
7902557    81464     4823     2.0  1259004395
8820270    90910     4903     5.0  1015725274
7602682    78538    53953     3.5  1446030554
22182903  230298     1210     4.5  1121556740

# Transforming the Data
Wikipedia gives data in not a standard form, so we have to organize the data before we can output it to sql 

Step 1: Inspect the extracted data 
- there are a lot of columns in this dataframe, and pandas won't display them all 
- we would have to convert the columsn into a list to see them all 
- from there, then you should plan what to do with teh not needed columns 
- if you don't need entire columns, then filter then out 
- We'll loop through the file and keep certain aspects of the data 

See the Transform jupyter notebook for the code for the steps above

NameError: name 'wiki_movies_raw' is not defined